.navbar {
  z-index: 1020;
  transition: background-image 0.5s;

  .navbar-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url("/images/nav-bg.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0px 5px 10px rgba(#000, 0.1);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;

    &.active {
      opacity: 1;
    }
  }

  .navbar-logo {
    z-index: 1060;
    font-family: "Dancing Script", cursive;
  }

  .navbar-container {
    .pop-up {
      .nav-num {
        position: absolute;
        top: -10px;
        left: 16px;
        width: 18px;
        height: 18px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #bf7f5a;
        color: #fff;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
      }

      .nav-dropdown {
        width: 320px;
        position: absolute;
        top: 72px;
        right: 0px;
        opacity: 0;
        border-radius: 4px;
        pointer-events: none;
        overflow-y: hidden;
        transition: all 0.5s;
      }

      .nav-dropdown-body {
        overflow-y: auto;
        max-height: 360px;
      }

      .nav-dropdown.show {
        opacity: 1;
        right: 24px;
        pointer-events: all;
      }
    }

    .navbar-toggle {
      position: relative;
      z-index: 1060;
      width: 72px;
      height: 18px;
      cursor: pointer;

      span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(#fff, 0.8);
        transition: all 0.8s;

        &:nth-child(2) {
          top: 8px;
        }

        &:nth-child(3) {
          width: 48px;
          height: 2px;
          top: 16px;
          left: auto;
          right: 0;
        }
      }

      &.open {
        width: 36px;

        span {
          &:nth-child(1) {
            top: 8px;
            transform: rotate(135deg);
          }

          &:nth-child(2) {
            opacity: 0;
            left: 60px;
          }
          &:nth-child(3) {
            width: 100%;
            top: 8px;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }

  .navbar-collapse {
    position: fixed;
    top: -100vh;
    left: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url("/images/nav-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 0 12px;
    transition: all 0.6s;

    &.open {
      top: 0;
      left: 0;
      z-index: 1050;
      .nav-item {
        position: relative;
        opacity: 0;
        top: 100px;
        animation-name: nav-link-fade;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        &:nth-child(1) {
          animation-delay: 0.5s;
        }
        &:nth-child(2) {
          animation-delay: 0.7s;
        }
        &:nth-child(3) {
          animation-delay: 0.9s;
        }
        &:nth-child(4) {
          animation-delay: 1.1s;
        }
      }
      .nav-circle {
        animation: nav-link-fade 0.5s linear 0.2s forwards;
      }
    }

    .nav-menu {
      width: 50%;

      .nav-item {
        &:hover {
          .nav-title {
            &::before {
              width: 100%;
            }
          }
        }

        .nav-link {
          display: flex;
          align-items: center;
          &.router-link-exact-active {
            .nav-title {
              &::before {
                width: 100%;
              }
            }
          }
        }

        .nav-number {
          font-size: 12px;
          margin-right: 16px;
          color: #fff;
        }

        .nav-title {
          font-size: 28px;
          letter-spacing: 3px;
          margin-right: 60px;
          color: #fff;
          font-family: "Abril Fatface", cursive;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            height: 30px;
            right: -15px;
            top: 50%;
            width: 1px;
            border-left: 1px solid #fff;
            transform: translateY(-50%) skewX(-45deg);
            transform-origin: left bottom;
          }
          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 10px;
            bottom: 8px;
            z-index: -1;
            transition: all 0.5s;
            background-color: rgba(#bf7f5a, 0.8);
          }
        }

        .nav-title-ch {
          font-size: 16px;
          color: rgba(#fff, 0.6);
        }
      }
    }

    .nav-circle {
      position: relative;
      opacity: 0;
      padding-top: 40%;
      width: 40%;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 105%;
        border-radius: 50em;
        top: -2.5%;
        left: 0;
        border: 1px dashed #fff;
        z-index: -1;
        opacity: 0.6;
        animation: rotate linear 10s infinite;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        border-radius: 50em;
        top: -5%;
        left: 0%;
        border: 1px dashed #fff;
        z-index: -1;
        opacity: 0.4;
        animation: rotate linear 10s infinite reverse;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s;
        transform: rotateY(-180deg);
        &.show {
          z-index: -1;
          opacity: 1;
          transform: rotateY(0deg);
        }
        &.hoverImg {
          opacity: 1;
          transform: rotateY(0deg);
          transform-style: preserve-3d;
        }
      }
    }
  }
}

@keyframes nav-link-fade {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
